header.jumbotron
  .container
    h1 不可輕視的腫瘤
    hr
    h4 航向宇宙・浩瀚無敵
section#section_ask
  .container
    .row
      .col-sm-5.img(data-0="transform: translateX(-200px)" data-500="transform: translateY(0px)")
      .col-sm-7(data-300="opacity: 0" data-500="opacity: 1")
        h2 如果腫瘤細胞量暴增，<br>那癌症還有救嗎？
section#section_about
  .container
    .row
      .col-sm-12
        h2 腫瘤的秘密
      .col-md-4.col-sm-6
        .img_wrap
          img(src="http://anatpat.unicamp.br/Dsc37879+.jpg")
        h4 腫瘤的偵測 (Tumor Detection)
        p 目前癌症偵測技術仍十分有限，必須等到癌細胞成長到一定程度才偵測得到，而當達到1立方公分3以上，癌細胞成長速度相當快，這也是造成目前癌症死亡率高的部份原因，故對於腫瘤治療，部分研究是針對“如何更早偵測到癌細胞”為主要方向。
      .col-md-4.col-sm-6
        .img_wrap
          img#3pic(src="http://www.hopkinsmedicine.org/sebin/p/u/abstract-cancer-iStock-166678470.jpg", alt="")
        h4 腫瘤的轉移 (Tumor Metastasis)
        p 在粒子物理學裏，標準模型是一套描述強力、弱力及電磁力這三種基本力及組成所有物質的基本粒子的理論。到目前為止，幾乎所有對以上三種力的實驗的結果都合乎這套理論的預測。<br><br>但是標準模型還不是一套萬有理論，主要是因為它並沒有描述到重力。
      .col-md-4.col-sm-6
        .img_wrap
          img(src="https://static.tumblr.com/320b1888b20b636f6edce7f1cbeb97aa/yjaznpu/HG3n32tb2/tumblr_static_universe.jpg", alt="")
        h4 癌症的治療
        p 倘若質子真像標準模型預言的那樣是不穩定的，重子物質最終也會全部消失，宇宙中只留下輻射和黑洞，而最終黑洞也會因霍金輻射而全部蒸發。<br><br>宇宙的熵會增加到極點，以致於再也不會有自組織的能量形式產生，最終宇宙達到熱寂狀態。

section#section_story
  .container-fluid
    .row
      .col-sm-5
      .col-sm-7
        .col-sm-12
          h2 宇
          hr
        .col-sm-12
          .col-sm-4
            i.fa
            h4 文字
          .col-sm-4
            i.fa
            h4 文字
          .col-sm-4
            i.fa
            h4 文字
