header.jumbotron
  .container
    h1 宇宙的祕密
    hr
    h4 航向宇宙・浩瀚無敵
section#section_ask
  .container
    .row
      .col-sm-5.img(data-0="transform: translateX(-200px)" data-500="transform: translateY(0px)")
      .col-sm-7(data-300="opacity: 0" data-500="opacity: 1")
        h3 如果今天沒有印表機，一本書需要花多久產生呢?
section#section_about
  .container
    .row
      .col-md-4.col-sm-6
        .img_wrap
          img(src="")
        h4 基本假設
        p 大霹靂理論的建立基於了兩個基本假設：物理定律的普適性和宇宙學原理。宇宙學原理是指在大尺度上宇宙是均勻且各向同性的。<br><br>這些觀點起初是作為先驗的公理被引入的，但現今已有相關研究工作試圖對它們進行驗證。
      .col-md-4.col-sm-6
        .img_wrap
          img(src="", alt="")
        h4 標準模型
        p 在粒子物理學裏，標準模型是一套描述強力、弱力及電磁力這三種基本力及組成所有物質的基本粒子的理論。到目前為止，幾乎所有對以上三種力的實驗的結果都合乎這套理論的預測。<br><br>但是標準模型還不是一套萬有理論，主要是因為它並沒有描述到重力。
      .col-md-4.col-sm-6
        .img_wrap
          img(src="", alt="")
        h4 未來
        p 倘若質子真像標準模型預言的那樣是不穩定的，重子物質最終也會全部消失，宇宙中只留下輻射和黑洞，而最終黑洞也會因霍金輻射而全部蒸發。<br><br>宇宙的熵會增加到極點，以致於再也不會有自組織的能量形式產生，最終宇宙達到熱寂狀態。
